body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #faeee7;
    height: 100px;
    display: flex;
}
.logo{
    height: 90px;
    width: 90px;
}
.nav_text{
    color: #ff8ba7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:30px;
}
.menus{
    margin-left: 100px;
    margin-top: 30px;
}
.menu_item{
    margin-left: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff8ba7;
}


/*Mobile Devices*/
@media screen  and (max-width: 768px){
    .navbar{
        background-color: #faeee7;
        height: 80px;
        display: flex;
    }
    .logo_text{
        margin-top: 10px;
    }
    .logo{
        height: 70px;
        width: 70px;
    }
    .nav_text{
        color: #ff8ba7;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size:20px;
    } 
}