body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #faeee7;
    height: 100px;
    display: flex;
}
.logo{
    height: 90px;
    width: 90px;
}
.nav_text{
    color: #ff8ba7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:30px;
}
.menus{
    margin-left: 100px;
    margin-top: 30px;
}
.menu_item{
    margin-left: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff8ba7;
}
.input_search{
    height: 40px;
    width: 350px;
    margin-top: 25px;
    margin-left: 60px;
    font-size: 20px;
    background-color: transparent;
    border: 3px solid #ff8ba7;
    border-radius: 20px;
    color: #ff8ba7;
}
.search_emoji{
    height: 35px;
    width: 35px;
    margin-top: 33px;
    margin-left: 10px;
}

/*Mobile Devices*/
@media screen  and (max-width: 768px){
    .navbar{
        background-color: #faeee7;
        height: 80px;
        display: flex;
    }
    .logo_text{
        margin-top: 10px;
    }
    .logo{
        height: 70px;
        width: 70px;
    }
    .nav_text{
        color: #ff8ba7;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size:20px;
    } 
    .menus{
        margin-top: 35px;
        margin-left: 20px;
    }
    .menu_item{
        margin-left: 15px;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ff8ba7;
    }
    .input_search{
        display: none;
    }
    .search_emoji{
        height: 25px;
        width: 25px;
        margin-top: 33px;
        margin-left: 40px;
    }
}
/*tablets*/
@media screen and (min-width: 769px) and (max-width: 1363px){
    .navbar{
        background-color: #faeee7;
        height: 90px;
        display: flex;
    }
    .logo_text{
        margin-top: 8px;
    }
    .logo{
        height: 80px;
        width: 80px;
    }
    .nav_text{
        color: #ff8ba7;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size:30px;
    } 
    .menus{
        margin-top: 40px;
        margin-left: 40px;
    }
    .menu_item{
        margin-left: 25px;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #ff8ba7;
    }
    .input_search{
        display: none;
    }
    .search_emoji{
        height: 30px;
        width: 30px;
        margin-top: 36px;
        margin-left: 60px;
    }
}